GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
SHELL_ACCESS=
#set MEMORY_OBSERVABILITY_SYSTEM_PATH to true if you don't want to have the raw logs in your target repo
MEMORY_OBSERVABILITY_SYSTEM_PATH=