[submodule "desktop/prebuilt-artifacts/repo-issue-manager"]
	path = desktop/prebuilt-artifacts/repo-issue-manager
	url = ./
	branch = prebuilt/repo-issue-manager
[submodule "desktop/prebuilt-artifacts/server-manager"]
	path = desktop/prebuilt-artifacts/server-manager
	url = ./
	branch = prebuilt/server-manager
